extends ../base

block title
  title Im an example
block navbar
  nav.
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>

block subpage
  div.
    <div class="some-class">
      <p>Hello</p>
      <p>I'm some sample content.</p>
    </div>
