doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/home/home.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

    each file in jsFiles
      style(src=file)
  body

  div.
    <!-- HOME HEADER -->
    <div class="home-head">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="logo">
              <img src="/images/home/logo.png" width="74" height="92">
            </div>
            <h1>Texting Evolved</h1>
            <h2>More people, more power, more fun</h2>
          </div>
          <div class="col-sm-6"><div class="phone"></div></div>
        </div>
      </div>
    </div>
    <!-- HOME BODY -->
    <div class="container">
      <!-- SHOWCASE ROW -->
      <div class="row home-feature">
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <h4>Introducing</h4>
            <h3>bluetooth connect<h3>
            <p>Automatically connect w/ anyone you meet who has Sochat</p>
          </div>
        </div>
      </div>
      <!-- FEATURE ROW -->
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/home/feat.png" width="110" height="110" style="margin:0 auto;display:block">
          <h3 style="text-align:center">Voice</h3>
          <p>Automatically connect w/ anyone you meet who has Sochat</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/home/feat.png" width="110" height="110" style="margin:0 auto;display:block">
          <h3 style="text-align:center">Voice</h3>
          <p>Automatically connect w/ anyone you meet who has Sochat</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/home/feat.png" width="110" height="110" style="margin:0 auto;display:block">
          <h3 style="text-align:center">Voice</h3>
          <p>Automatically connect w/ anyone you meet who has Sochat</p>
        </div>
      </div>
      <!-- FEATURE ROW -->
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/home/feat.png" width="110" height="110" style="margin:0 auto;display:block">
          <h3 style="text-align:center">Voice</h3>
          <p>Automatically connect w/ anyone you meet who has Sochat</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/home/feat.png" width="110" height="110" style="margin:0 auto;display:block">
          <h3 style="text-align:center">Voice</h3>
          <p>Automatically connect w/ anyone you meet who has Sochat</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/home/feat.png" width="110" height="110" style="margin:0 auto;display:block">
          <h3 style="text-align:center">Voice</h3>
          <p>Automatically connect w/ anyone you meet who has Sochat</p>
        </div>
      </div>
    </div>
    <!-- GLOBAL FOOTER -->
    <div class="container">
      <footer class="footer">
        <div class="logo"></div>
        <ul class="nav">
          <li class="col-sm-3">Home</li>
          <li class="col-sm-3">FAQ</li>
          <li class="col-sm-3">Team</li>
          <li class="col-sm-3">Careers</li>
        </ul>
        <ul class="nav subnav">
          <li class="col-sm-3"></li>
          <li class="col-sm-3">Terms</li>
          <li class="col-sm-3">Privacy</li>
          <li class="col-sm-3"></li>
        </ul>
        <ul class="nav subnav">
          <li class="col-sm-12">© Sticks and Brains, Inc. 2015</li>
        </ul>
      </footer>
    </div>
