/*-- HEADER --*/
.home-head {
  background: #F0F7FF;
  width: 100%;
  height: 700px;
  h1 {
    padding-top:100px;
    color:#000;
    font-size: 44px
  }
  h2 {
    color:#75879A;
    font-size: 19px;
  }
  .logo {
    width:100px;
    height: 100px;
    margin-top:60px;
    background:#000;
  }
  .phone {
    width:400px;
    height: 560px;
    margin-top: 40px;
    background: #ccc;
  }
}

/*-- FOOTER --*/
.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #eee;
  .logo {
    margin: 20px auto;
    width:40px;
    height: 40px;
    background: #000;
  }
  .nav {
    width: 30%;
    margin: 0 auto;
    li {
      display: inline-block;
      float: left;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
    }
  }
  .subnav li {
    font-size: 13px;
    color:#ccc;
  }
}
